body{
    font-family:'Graduate'
}

header{
    background-color: rgb(218, 196, 238);
    height: 55px;
    display: flex;
    align-items: center;
    justify-content:space-between;
    padding: 10px;
    z-index: 1;
    position: sticky;
    top: 0;
}

.titre{
    font-size: 20px;
    text-align: center;
    margin: 0%;
}

.titre:hover{
    background-color: blueviolet;
    color: white;
}

button{
    border-radius: 10px;
}

button:hover{
    background-color: blueviolet;
    color: white;
}

#entete{
    padding-top: 40px;
    padding-bottom: 40px;
    align-items: baseline;
}

#menu svg{
    margin: 10px;
}

#menu{
    background-color:rgb(218, 196, 238) ;
    border-radius: 10px;
    border-right: dotted gray;
}

h1{
    text-align: center;
}

#menu a{
    color: black;
    text-decoration: none;
}

.nav a{
    color: black;
    text-decoration: underline;
}

.nav{
    padding: 20px;
}

.ligne{
    margin: 20px;
}

.col-3{
    align-items: center;
}

.themes a{
    color: black;
    text-decoration: none;
}

.titre{
    font-size: 20px;
    text-align: center;
    margin: 0%;
}


.theme:hover .titre{
    background-color: blueviolet;
    color: white;

}

h2{
   color: blueviolet;
}

.conversation{
    padding: 10px;
}

.avatar{
    display: flex;
    justify-content: center;
}

.message{
    font-style: italic;
    font-size: 12px;
}

.message{
    display: flex;
    align-items: center;
}

.marge{
    margin: 0%;
}

.enligne{
    padding: 20px
}

.colonne{
    background-color:rgb(218, 196, 238) ;
    border-radius: 20px;
}

ul{
    padding:0%;
    list-style-position: inside;
} 

#enLigne{
    color: green;
}



